<h1>Home#index</h1>
<p><h1>Hello, Tester!</h1></p>

<%= form_for :login do |f| %>
    <p>
      <%= f.label :username %><br>
      <%= f.text_field :username %>
    </p>

    <p>
      <%= f.label :password %><br>
      <%= f.password_field :password %>
    </p>

    <p>
      <%= f.submit :Login %>
    </p>
<% end %>
